@import "@one/account-menu/account-menu";
@import "@one/search/search";

.ocl-main-nav {
	height: 71px;
	padding-right: 20px;
	background-image: url("https://entradapiano.com/img/header.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	line-height: 71px;

	&__toggle {
		display: block;
		position: relative;
		width: 71px;
		height: 71px;
		margin: 0;
		padding: 0;
		float: left;
		border: none;
		border-right: 1px solid #fff;
		outline: none;
		background-color: transparent;
	}

	&__home {
		display: inline-block;
		width: 71px;
		height: 71px;
		border: none;
		outline: none;
		background-color: transparent;
		color: #fff;
	}

	&__logo {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 25px;
		height: 25px;
		transform: translate(-50%, -75%);
		background-image: url("https://entradapiano.com/img/logo-54x62.png");
		background-size: contain;
	}

	&__items-list {
		display: inline-block;
		margin: 0;
		padding: 0;
	}

	&__item {
		display: inline-block;
		margin-right: 18px;

		a {
			color: #fff;
			text-decoration: none;
		}
	}

	&__action-bar {
		&--left {
			float: left;
		}

		&--right {
			float: right;
		}
	}

	&__toggle-caption {
		display: inline-block;
		position: absolute;
		top: 45px;
		left: 0;
		width: 100%;
		color: #fff;
		font-size: 12px;
	}

	.ocl-account-menu {
		display: inline-block;
	}

	.ocl-search {
		display: inline-block;
		width: 200px;
	}
}
