@import "@one/typography/mixins";
@import "@one/theme/mixins";
@import "@one/theme/functions";
@import "@one/animation/functions";
@import "@one/textfield/variables";
@import "@one/typography/functions";
@import "./variables";
@import "./mixins";

.ocl-button {
	@include ocl-typography-base;
	@include ocl-theme-prop(color, text-primary-on-dark);
	@include ocl-theme-prop(background-color, accent);
	@include ocl-button-hover-base;
	// When/if buttons have an :active state, place that style here
	// @include ocl-button-active-base;

	display: inline-flex;
	position: relative;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	height: 3rem;
	padding: 0 1.5rem;
	transition: ocl-animation-exit(background-color, 200ms);
	border: none;
	border-radius: 3px;
	outline: none;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	overflow: hidden;
	vertical-align: middle;
	user-select: none;
	box-sizing: border-box;

	// Loader integration
	&__label {
		transition: .3s cubic-bezier(.175, .885, .32, 1.275) padding;
	}

	.ocl-loader {
		position: absolute;
		top: 50%;
		right: 1rem;
		transform: translateY(-50%);
	}

	.ocl-loader__spinner {
		transform: scale(0);
		animation-fill-mode: both;
		animation-duration: .4s;

		&::before {
			border-color: #ddd;
			border-top-color: #333;
		}
	}

	&--loading {
		.ocl-button__label {
			padding-right: 1.5rem;
		}

		.ocl-loader__spinner {
			animation-name: ocl-button-add-loader;
		}
	}

	&--centered {
		display: block;
		margin: 0 auto;
	}

	&--search {
		position: absolute;
		top: 15px;
		right: 0;
		margin-right: 25px;
		color: $input-search-color;
		font-size: $input-font-size;
		font-weight: bold;
		letter-spacing: 0;
		cursor: pointer;
	}

	/* MEDIUM BUTTON */

	&--med {
		height: 4.5rem;
		padding: 0 3rem;
		font-size: 18px;
		line-height: 4.5rem;

		// MEDIUM loader overrides

		.ocl-loader {
			right: 2rem;
		}

		&.ocl-button--loading {
			.ocl-button__label {
				padding-right: 2.5rem;
			}
		}
	}

	/* LARGE BUTTON */

	&--large {
		position: relative;
		height: rem(100px);
		overflow: visible;
	}

	&__image--round {
		display: inline-block;
		width: rem(90px);
		height: rem(90px);
		margin-right: rem(30px);
		border-radius: 50%;
	}

	&--round-left {
		padding: rem(5px);
		border-top-left-radius: rem(50px);
		border-bottom-left-radius: rem(50px);
	}

	&--hex-right {
		position: relative;
		top: rem(-13px);
		right: rem(-28.8px);
		width: rem(62px);
		height: rem(50px);
		transform: rotate(60deg);
		transition: background-color .2s cubic-bezier(.4, 0, 1, 1);
		border-radius: rem(7px);
		background-color: #5fa1b7;
		z-index: -4;

		&::after {
			position: absolute;
			top: rem(8px);
			left: rem(13px);
			width: rem(64px);
			height: rem(68px);
			transform: rotate(60deg);
			transition: background-color .2s cubic-bezier(.4, 0, 1, 1);
			border-radius: rem(7px);
			background-color: #5fa1b7;
			content: "";
			z-index: -4;
		}
	}

	/* KNOCKOUT BUTTON */

	&--knockout {
		@include ocl-theme-prop(border-color, text-primary-on-dark);

		border-width: 2px;
		border-style: solid;
		background-color: transparent;
	}

	&--link-style {
		$optimized: ocl-optimize-style-groups($ocl-default-button-link-config);

		@include ocl-map-to-class($optimized);

		display: inline;
		height: auto;
		padding: 0;
		background-color: transparent;

		&:hover {
			border: none;
			background-color: transparent;
		}
	}

	/* DISABLED SETTINGS */

	&:disabled,
	&[disabled] {
		border-color: $ocl-button-disabled-color;
		background-color: $ocl-button-disabled-color;

		.ocl-button--hex-right {
			background-color: $ocl-button-disabled-color;
		}

		.ocl-button--hex-right::after {
			background-color: $ocl-button-disabled-color;
		}

		&:hover {
			background-color: $ocl-button-disabled-color;

			.ocl-button--hex-right {
				background-color: $ocl-button-disabled-color;
			}

			.ocl-button--hex-right::after {
				background-color: $ocl-button-disabled-color;
			}
		}
	}
}
