@import "@one/layout/functions";
@import "@one/layout/mixins";
@import "@one/popover/popover";
@import "@one/typography/functions";

.ocl-account-menu {
	position: relative;

	.ocl-popover {
		display: none;
	}

	&__toggle {
		display: inline-block;
		padding-right: rem(10px);
		padding-left: rem(10px);
	}

	&__username {
		display: inline-block;
		padding-left: rem(15px);
		color: #fff;
		text-align: left;
	}

	&__user-icon {
		display: inline-block;
		position: relative;
		margin-left: 5px;
		padding-right: rem(23px);
		color: #fff;

		&::after {
			@include triangle(15px, #fff, bottom);

			display: block;
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			content: "";
		}
	}

	&--open {
		.ocl-popover {
			display: block;
			position: absolute;
			right: 0;
		}
	}
}
