.theatre__stage-account-menu {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 185px;
	transform: translate(-50%, -50%);

	.ocl-account-menu {
		display: inline-block;
		background-color: #ea9164;
	}
}
