@import "@one/layout/mixins";
@import "@one/layout/functions";
@import "@one/typography/functions";
@import "@one/theme/mixins";
@import "@one/theme/colors";

.ocl-student-assignment-card {
	.ocl-assignment-card__date {
		font-size: 14px;
		font-style: normal;
	}

	.ocl-assignment-card__list {
		margin: 30px auto 20px;
	}

	.ocl-assignment-card__list-item-title {
		color: #5ca1b8;
	}

	&__footer {
		display: block;
		padding-top: rem(25px);
		padding-bottom: rem(25px);
		text-align: left;

		&-title {
			margin-bottom: rem(10px);
			color: #444;
			font-size: rem(16px);
			font-weight: 500;
			line-height: 1.25;
		}

		&-content {
			font-weight: 300;
		}
	}
}
