@import "@one/typography/functions";
@import "@one/layout/mixins";
@import "@one/theme/mixins";
@import "@one/theme/colors";

.ocl-card-student {
	@include ocl-link-theme-style;

	.ocl-card__header {
		@include ocl-horizontal-whitespace(rem(15px));

		height: 45px;
		background-color: #ea9164;
		line-height: 45px;
	}

	.ocl-card__header-content {
		display: flex;
		align-items: center;
		padding: 0;
		color: #fff;
	}

	.ocl-card__footer {
		padding-right: 0;
	}

	.ocl-card__footer-content {
		display: flex;
		align-items: center;
		padding-bottom: 0;
	}
}

.ocl-student-card__body {
	@include ocl-horizontal-whitespace(rem(15px));
}

.ocl-student-card__header-name {
	font-size: 18px;
	font-weight: 500;
}

.ocl-student-card__header-date {
	margin-left: auto;
}

.ocl-student-card__activity {
	display: none;

	&:first-of-type {
		display: block;
	}
}

.ocl-student-card__activity-list {
	@include ocl-styleless-list;

	&--open {
		.ocl-student-card__activity {
			display: block;
		}
	}

	.fa {
		color: $ocl-monarch;
	}
}

.ocl-student-card__activity-title {
	margin-top: 17px;
	margin-bottom: 17px;
	font-size: 24px;
	font-weight: 300;
}

.ocl-student-card__activity-detail {
	font-style: italic;
	font-weight: 300;
}

.ocl-student-card__activity-more {
	font-size: 18px;
	font-weight: 500;
}

.ocl-student-card__activity-full {
	display: inline-flex;
	position: relative;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 3rem;
	margin-left: auto;
	padding: 0 1.5rem;
	border-top: 2px solid #d2d2d2;
	border-left: 2px solid #d2d2d2;
	border-radius: 3px;
	font-size: 18px;
	font-weight: 500;
}

.ocl-student-card__activity-item {
	font-weight: 500;
}

.ocl-student-card__footer {
	@include ocl-horizontal-whitespace(rem(15px));
}
