@import "@one/layout/mixins";
@import "@one/typography/functions";

.ocl-account-card {
	background-color: #ededed;
	text-align: left;

	&__header-content {
		padding-top: rem(21px);
		padding-bottom: rem(9px);
	}

	&__header {
		padding: 0;

		@include ocl-respond-to(small) {
			padding-right: 1.875rem;
			padding-left: 1.875rem;
		}
	}

	&__title {
		margin-top: 0;
		margin-bottom: 0;
		color: #ac405e;
		font-size: 26px;
		font-weight: 500;
		text-align: center;

		@include ocl-respond-to(small) {
			text-align: left;
		}
	}

	&__level-title {
		font-size: 24px;
		font-weight: 300;
	}

	&__level-subtitle {
		font-size: 16px;
	}

	&__level-detail {
		font-size: 16px;
		font-style: italic;
		font-weight: 300;
	}

	&__body {
		@include ocl-horizontal-whitespace(rem(15px));

		@include ocl-respond-to(small) {
			@include ocl-horizontal-whitespace(rem(30px));
		}
	}

	&__current-level {
		@include ocl-vertical-whitespace(rem(25px));

		border-bottom: solid 1px #c5c5c5;
	}

	&__change-level {
		@include ocl-vertical-whitespace(rem(25px));
	}

	&__current-level-title {
		margin-top: 0;
		margin-bottom: rem(10px);
	}

	&__change-level-title {
		margin-top: 0;
		margin-bottom: rem(25px);
	}

	&__current-level-subtitle {
		margin-top: 0;
		margin-bottom: rem(10px);
	}

	&__change-level-label {
		margin-top: 0;
		margin-bottom: 0;
		line-height: 20px;
	}

	&__current-level-detail {
		margin-top: 0;
		margin-bottom: 0;
	}

	&__change-level-detail {
		margin-top: 0;
		margin-bottom: rem(20px);
		line-height: 20px;
	}

	&__change-level-select {
		margin-bottom: rem(25px);
	}

	.ocl-button {
		display: block;
		width: 100%;
		margin: 0 auto;

		@include ocl-respond-to(small) {
			display: inline-flex;
			width: auto;
			margin-left: 0;
		}
	}
}
