@import "@one/layout/mixins";

.theatre__stage-account-card {
	.ocl-account-card {
		position: absolute;
		top: 30px;
		left: 50%;
		width: 100%;
		transform: translateX(-50%);

		@include ocl-respond-to(small) {
			width: 421px;
		}
	}
}
