@import "@one/layout/mixins";
@import "@one/theme/mixins";
@import "@one/typography/functions";

.ocl-skill-profile {
	width: 100%;
	padding-bottom: rem(25px);
	background-color: #ededed;

	&__header {
		@include ocl-link-theme-style;

		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		margin-bottom: rem(20px);
		padding-top: rem(21px);
		padding-right: rem(10px);
		padding-bottom: rem(10px);
		border-bottom: 1px solid #c5c5c5;

		@include ocl-respond-to(small) {
			padding-right: rem(25px);
		}
	}

	&__help {
		flex: .5;
		text-align: right;

		.fa {
			margin-right: 5px;
			font-size: 20px;
			vertical-align: middle;
		}
	}

	&__meter-list-item {
		margin-top: rem(20px);
	}

	&__title {
		flex: 1.5;
		margin-top: 0;
		margin-bottom: 0;
		color: #ac405e;
		font-weight: 500;
		text-align: left;
	}

	&__categories {
		display: flex;
		flex-wrap: wrap;

		.ocl-skill-progress {
			flex: 1;
		}
	}

	&__meter-list {
		@include ocl-styleless-list;
	}

	&__detail {
		display: none;

		&--active {
			display: block;
		}
	}
}

.ocl-skill-profile-category {
	flex-basis: 100%;
	margin-bottom: rem(20px);

	@include ocl-respond-to(small) {
		flex: 1;
		margin-bottom: 0;
	}

	&__radio-label {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	&__radio {
		display: none;
	}

	&__label {
		flex: 1;
		min-width: 102px;
		font-size: 18px;
		text-align: left;

		@include ocl-respond-to(small) {
			flex-basis: 100%;
			min-width: 100%;
			margin-bottom: rem(14px);
			text-align: center;
		}
	}

	.fa {
		display: inline-block;
		padding-right: rem(23px);
		color: #5ca1b8;
		font-size: 20px;
		vertical-align: middle;

		@include ocl-respond-to(small) {
			flex-basis: 100%;
			margin-top: rem(18px);
			padding-right: 0;
		}
	}

	&--active {
		.ocl-skill-profile-category__label {
			color: #ea9164;
		}
	}
}
