@import "@one/typography/mixins";
@import "@one/typography/functions";
@import "@one/theme/mixins";
@import "@one/theme/functions";
@import "@one/layout/mixins";

.ocl-watch-event {
	display: flex;
	margin-bottom: rem(35px);

	&__image {
		width: rem(188px);
		height: rem(106px);
	}

	&__content {
		padding-left: rem(15px);
		text-align: left;
	}

	&__title {
		@include ocl-link-theme-style(false);

		display: block;
		margin-bottom: 13px;
		font-size: rem(21px);
		font-weight: 300;
	}

	&__subtitle {
		@include ocl-link-theme-style(false);

		display: block;
		margin-bottom: 7px;
		font-size: rem(16px);
		font-weight: 500;
		line-height: 1.25;
	}

	&__detail {
		color: #444;
		font-size: rem(13px);
		line-height: 1.54;
	}
}
