@import "@one/layout/mixins";
@import "@one/typography/functions";

.ocl-skill-progress {
	&__circle {
		display: block;
		width: 50px;
		height: 50px;
		margin: 0 auto;
		border-radius: 50%;
		background-color: #c5c7c9;

		@include ocl-respond-to(small) {
			width: 100px;
			height: 100px;
		}
	}

	&--active {
		.ocl-skill-progress__circle {
			background-color: #ea9164;
		}
	}
}
