@import "@one/layout/functions";

$modal-form__body--padding--top-bottom: rem(40px) 0;
$modal-content--width: 280px;
$link-color: #56A1B7;
$modal--background-color: #ededed;
$modal__error-massage--background-color: #AA3232;