@import "@one/typography/mixins";
@import "@one/theme/mixins";
@import "@one/layout/mixins";

@import "./variables";

.ocl-t-modal {
  &__modal__form{

  }

  .ocl-card__body-content{
	width: $modal-content--width;
	padding: $modal-form__body--padding--top-bottom;

	&--centered{
	  margin: 0 auto;
	}

	.ocl-button__signin {
	  width: rem(180px);
	  font-size: rem(18px);
	  margin-top: rem(40px);
	  margin-bottom: rem(20px);
	}
  }

  .ocl-input__group {
	margin-bottom: rem(20px);
  }

  .ocl-card__label {
	color: #444444;
	font-weight: 500;

	&--margin-right{
	  margin-right: 5px;
	}
  }

  .ocl-card__link {
	@include ocl-font-family--regular;
	@include ocl-link-theme-style;

	color: $link-color;
	font-weight: bold;
	font-size: rem(16px);
	text-decoration: none;
  }

  .ocl--floatleft {
	float: left;
  }
  .ocl--floatright{
	float: right;
  }

  .ocl-clearfix {

	&:after {
	  content:"";
	  display: table;
	  clear: both;
	}
  }

  .ocl-modal__error-massage{
	padding: rem(12px);
	background: $modal__error-massage--background-color;
	font-weight: 500;
	color: $modal--background-color;
	margin-bottom: rem(-18px);
  }
}
