.sidebar {
	position: absolute;
	width: 22%;
	height: 100%;
	min-height: 100%;
	float: left;
	border-right: 1px solid #ddd;
	overflow: scroll;
}

.sidebar__nav-list {
	position: absolute;
	top: 40px;
	width: 100%;
	height: calc(100% - 40px);
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: scroll;
}

.sidebar__nav-list-item {
	border-bottom: 1px solid #ddd;
}

.sidebar__nav-list-item-link {
	display: inline-block;
	width: 100%;
	padding: 10px;
	color: black;
	text-decoration: none;

	&:active,
	&:visited {
		color: black;
		text-decoration: none;
	}
}

.sidebar__nav-list-item-label {
	font-size: 10px;
	text-transform: uppercase;
}

.sidebar__title {
	padding: 10px;
	border-bottom: 1px solid #ddd;
}
