@import "@one/typography/mixins";

:root {
	margin: 0;
	padding: 0;

	font-size: 16px;
	line-height: 24px;
}

.theatre__stage-iframe {
	@include ocl-typography-base;
	text-align: center;
	font-weight: 400;
}
