$ocl-breakpoints: (
	"small": (min-width: 480px),
	"medium": (min-width: 768px),
	"large": (min-width: 1024px),
	"largest": (min-width: 1200px)
) !default;

$ocl-horizontal-whitespace-vals: left right;
$ocl-vertical-whitespace-vals: top bottom;
