.topbar__component-nav {
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
}

.topbar__component-nav-list-item {
	margin-right: 30px;
	float: left;
}

.topbar__type-toggle-block{
	float: right;
	margin-right: 50px;

}

.topbar__type-toggle-item{
	display: inline-block;
	width: 100px;
	height: 40px;
	border: 1px solid #000;
	background-color: #fff;
	text-align: center;
	padding: 10px;
	margin: 0 10px;
	transition: all .15s linear;
	font-weight: bold;
	cursor: pointer;
	&:hover{
		background-color: #eee;
	}
}

.topbar__component-nav-list-item{
	position: relative;
	&.open{
		.topbar__component-subnav-list{
			opacity: 1;
			pointer-events: auto;
			visibility: visible;
		}
	}
}
.topbar__component-subnav-list{
	position: absolute;
	top: 25px;
	left: 0;
	background-color: #fff;
	padding: 5px 0;
	border: 1px solid #aaa;
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
	li{
		list-style: none;
		border-bottom: 1px solid #aaa;
		padding: 5px 10px;
		transition: opacity .15s linear;
		&:last-of-type{
			border-bottom: none;
		}
	}
}

