@import "@one/layout/mixins";

.theatre__stage-iframe {
	.ocl-assignment-history {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		transform: translate(-50%, -50%);

		@include ocl-respond-to(small) {
			width: 420px;
		}
	}
}
