@import "@one/layout/functions";
@import "@one/layout/mixins";
@import "./variables";

.ocl-card {
	box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .5);
	border-radius: 4px;

	&__header {
		padding-right: rem(30px);
		padding-left: rem(30px);
	}

	&__header-content {
		padding-top: rem(15px);
		padding-bottom: rem(15px);
		border-bottom: solid 1px $card__block--border-color;
	}

	&__body {
		padding-right: rem(30px);
		padding-left: rem(30px);
	}

	&__footer {
		padding-right: rem(30px);
		padding-left: rem(30px);
	}

	&__footer-content {
		padding-top: rem(15px);
		padding-bottom: rem(15px);
		border-top: solid 1px $card__block--border-color;
	}

	&--flat {
		box-shadow: none;
	}

	&--square-top {
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}

	&--square-bottom {
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	&--full-width-body {
		.ocl-card__body {
			padding-right: 0;
			padding-left: 0;
		}

		.ocl-card__body-content {
			padding-right: rem(30px);
			padding-left: rem(30px);
		}
	}

	&--full-width-header {
		.ocl-card__header {
			padding-right: 0;
			padding-left: 0;
		}

		.ocl-card__header-content {
			padding-right: rem(30px);
			padding-left: rem(30px);
		}
	}

	&--full-width-footer {
		.ocl-card__footer {
			padding-right: 0;
			padding-left: 0;
		}

		.ocl-card__footer-content {
			padding-right: rem(30px);
			padding-left: rem(30px);
		}
	}

	&--no-border-header {
		.ocl-card__header-content {
			border: none;
		}
	}

	&--no-border-footer {
		.ocl-card__footer-content {
			border: none;
		}
	}

	&--align-left {
	  text-align: left;
	}
}
