@import "@one/layout/mixins";

.theatre__stage-webinar-card {
	.ocl-webinar-card {
		position: absolute;
		top: 30px;
		left: 50%;
		width: 90%;
		transform: translateX(-50%);

		@include ocl-respond-to(small) {
			width: 420px;
		}
	}
}
