@import "@one/typography/functions";
@import "@one/animation/functions";

.ocl-quiz-question-option-card {
	display: block;
	position: relative;
	width: rem(280px);
	min-width: rem(280px);
	margin: 0 auto;
	padding: 5px;
	box-shadow: none;
	cursor: pointer;
	overflow: visible;

	&__selected--correct {
		&::after {
			display: block;
			position: absolute;
			bottom: -37px;
			width: 100%;
			height: 20px;
			color: #444;
			font-size: rem(24px);
			font-weight: 300;
			line-height: .83;
			text-align: center;
			content: "Correct!";
		}

		.ocl-quiz-question-option-card {
			&__header {
				background-color: #a1e0f4;
			}

			&__header-correct-icon {
				display: block;
			}

			&__body {
				background-color: #c2f0ff;
			}

			&__footer {
				background-color: #c2f0ff;
			}

			&__footer-indicator {
				border-color: #5ca1b8;
				background-color: #5ca1b8;
			}
		}
	}

	&__selected--incorrect {
		&::after {
			display: block;
			position: absolute;
			bottom: -37px;
			width: 100%;
			height: 20px;
			color: #444;
			font-size: rem(24px);
			font-weight: 300;
			line-height: .83;
			text-align: center;
			content: "Incorrect";
		}

		.ocl-quiz-question-option-card {
			&__header-close-icon {
				display: block;
			}

			&__footer-indicator {
				border-color: #5ca1b8;
				background-color: #5ca1b8;
			}
		}
	}

	&__unselected--correct {
		.ocl-quiz-question-option-card {
			&__header {
				border-top: solid 4px #a1dff4;
				border-right: solid 4px #a1dff4;
				border-left: solid 4px #a1dff4;
			}

			&__img {
				width: 100%;
				box-sizing: border-box;
				border-right: solid 4px #a1dff4;
				border-left: solid 4px #a1dff4;
			}

			&__body {
				border-right: solid 4px #a1dff4;
				border-left: solid 4px #a1dff4;
			}

			&__footer {
				border-right: solid 4px #a1dff4;
				border-bottom: solid 4px #a1dff4;
				border-left: solid 4px #a1dff4;
			}
		}

		.ocl-quiz-question-option-card__content .ocl-quiz-question-option-card__footer-indicator {
			border-color: #bfbfbf;
			background-color: transparent;
		}
	}

	&__input {
		display: none;

		&:checked + .ocl-quiz-question-option-card__content {
			.ocl-quiz-question-option-card__footer-indicator {
				border-color: #5ca1b8;
				background-color: #5ca1b8;
			}
		}
	}

	&--hidden {
		display: none;
	}

	&__img {
		display: block;
		min-width: 100%;
		min-height: rem(150px);
	}

	&__header {
		display: flex;
		justify-content: space-between;
		padding: rem(13px);
		border-top-left-radius: rem(4px);
		border-top-right-radius: rem(4px);
		background-color: #dedede;

		&-title {
			color: #ac405e;
			font-size: rem(26px);
			font-weight: 500;
			text-transform: uppercase;
		}

		&-correct-icon {
			display: none;
			align-self: flex-end;
			width: rem(26px);
			height: rem(26px);
			border-radius: 50%;
			background-color: #50be4b;

			.fa-check {
				margin-left: rem(1px);
				color: #a1e0f4;
				line-height: rem(26px);
			}
		}

		&-close-icon {
			display: none;
			align-self: flex-end;
			width: rem(26px);
			height: rem(26px);
			border-radius: 50%;
			background-color: #444;

			.fa-close {
				margin-left: rem(1px);
				color: #dedede;
				font-size: rem(18px);
				line-height: rem(26px);
			}
		}
	}

	&__body {
		padding: rem(25px) rem(37px) rem(25px);
		background-color: #ededed;
		color: #444;
		font-size: rem(21px);
		font-weight: 300;
		line-height: 1.14;
	}

	&__footer {
		padding-bottom: rem(15px);
		border-bottom-left-radius: rem(4px);
		border-bottom-right-radius: rem(4px);
		background-color: #ededed;

		&-indicator {
			display: block;
			width: 25px;
			height: 25px;
			margin: 0 auto;
			transition: ocl-animation-exit(background-color, 150ms), ocl-animation-exit(border-color, 150ms);
			border: solid 1px #bfbfbf;
			border-radius: 13px;
			cursor: pointer;
		}
	}
}
