$input-width: 100%;
$input-height:42px;
$input-font-size: 16px;
$input-border: 1px solid #d3d3d3;
$input-radius: 2px;
$input-margin-bottom: 22px;
$input-padding: 10px;
$input-inner-shadow: inset -1px 1px 1px rgba(142, 142, 142, .5);

$input-placeholder-color: #bebebe;

$input-search-height: 37px;
$input-search-width: 200px;
$input-search-color: #bebebe;
