@import "./variables";

.ocl-search {
	position: relative;

	&__input {
		width: $input-width;
		height: $input-search-height;
		padding: $input-padding;
		border: $input-border;
		border-radius: $input-radius;
		background: #fff;
		font-size: $input-font-size;
		box-sizing: border-box;
		box-shadow: $input-inner-shadow;

		&::placeholder {
			color: $input-placeholder-color;
			font-size: $input-font-size;
			font-weight: bold;
			letter-spacing: 0;
		}
	}

	&__button {
		position: absolute;
		top: 0;
		right: 10px;
		border: 0;
		background: transparent;
		color: $input-search-color;
		cursor: pointer;
		/* stylelint-disable order/properties-order */
		// temporary icon-less
		font-weight: bold;
		letter-spacing: 0;
		font-size: $input-font-size;
		/* stylelint-enable order/properties-order */
	}
}
